/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/.vs/Elsa.Samples/DesignTimeBuild/.dtbcache.v2
/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/bin/Debug/appsettings.Development.json
/bin/Debug/appsettings.json
/bin/Debug/AutoMapper.dll
/bin/Debug/BouncyCastle.Crypto.dll
/bin/Debug/DnsClient.dll
/bin/Debug/Elsa.Abstractions.dll
/bin/Debug/Elsa.Activities.Console.dll
/bin/Debug/Elsa.Activities.ControlFlow.dll
/bin/Debug/Elsa.Activities.Email.dll
/bin/Debug/Elsa.Activities.Http.dll
/bin/Debug/Elsa.Activities.Timers.dll
/bin/Debug/Elsa.Activities.UserTask.dll
/bin/Debug/Elsa.Activities.Workflows.dll
/bin/Debug/Elsa.Core.dll
/bin/Debug/Elsa.Dashboard.dll
/bin/Debug/Elsa.dll
/bin/Debug/Elsa.Persistence.MongoDb.dll
/bin/Debug/Elsa.Samples.dll
/bin/Debug/Elsa.Samples.exe
/bin/Debug/Elsa.Samples.pdb
/bin/Debug/Elsa.Samples.Views.dll
/bin/Debug/Elsa.Samples.Views.pdb
/bin/Debug/Elsa.Scripting.JavaScript.dll
/bin/Debug/Elsa.Scripting.Liquid.dll
/bin/Debug/Elsa.Scrutor.dll
/bin/Debug/Elsa.WorkflowDesigner.dll
/bin/Debug/Esprima.dll
/bin/Debug/Fluid.dll
/bin/Debug/Humanizer.dll
/bin/Debug/Irony.dll
/bin/Debug/Jint.dll
/bin/Debug/MailKit.dll
/bin/Debug/MediatR.dll
/bin/Debug/MediatR.Extensions.Microsoft.DependencyInjection.dll
/bin/Debug/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/MimeKit.dll
/bin/Debug/MongoDB.Bson.dll
/bin/Debug/MongoDb.Bson.NodaTime.dll
/bin/Debug/MongoDB.Driver.Core.dll
/bin/Debug/MongoDB.Driver.dll
/bin/Debug/MongoDB.Libmongocrypt.dll
/bin/Debug/NCrontab.dll
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/NodaTime.dll
/bin/Debug/NodaTime.Serialization.JsonNet.dll
/bin/Debug/SharpCompress.dll
/bin/Debug/YamlDotNet.dll
/obj/Debug/docker-compose.dcproj.CopyComplete
/obj/Debug/docker-compose.dcproj.CoreCompileInputs.cache
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Debug/docker-compose.dcprojAssemblyReference.cache
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/DOCKER_REGISTRY.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
/obj/Docker/MergedDockerCompose.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Docker/MergedDockerCompose2.cache
/obj/Docker/TargetOS.cache
