/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/.vs/Elsa.Samples/DesignTimeBuild/.dtbcache.v2
/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/bin/Debug/appsettings.Development.json
/bin/Debug/appsettings.json
/bin/Debug/AutoMapper.dll
/bin/Debug/BouncyCastle.Crypto.dll
/bin/Debug/DnsClient.dll
/bin/Debug/Elsa.Abstractions.dll
/bin/Debug/Elsa.Activities.Console.dll
/bin/Debug/Elsa.Activities.ControlFlow.dll
/bin/Debug/Elsa.Activities.Email.dll
/bin/Debug/Elsa.Activities.Http.dll
/bin/Debug/Elsa.Activities.Timers.dll
/bin/Debug/Elsa.Activities.UserTask.dll
/bin/Debug/Elsa.Activities.Workflows.dll
/bin/Debug/Elsa.Core.dll
/bin/Debug/Elsa.Dashboard.dll
/bin/Debug/Elsa.dll
/bin/Debug/Elsa.Persistence.MongoDb.dll
/bin/Debug/Elsa.Samples.dll
/bin/Debug/Elsa.Samples.exe
/bin/Debug/Elsa.Samples.pdb
/bin/Debug/Elsa.Samples.Views.dll
/bin/Debug/Elsa.Samples.Views.pdb
/bin/Debug/Elsa.Scripting.JavaScript.dll
/bin/Debug/Elsa.Scripting.Liquid.dll
/bin/Debug/Elsa.Scrutor.dll
/bin/Debug/Elsa.WorkflowDesigner.dll
/bin/Debug/Esprima.dll
/bin/Debug/Fluid.dll
/bin/Debug/Humanizer.dll
/bin/Debug/Irony.dll
/bin/Debug/Jint.dll
/bin/Debug/MailKit.dll
/bin/Debug/MediatR.dll
/bin/Debug/MediatR.Extensions.Microsoft.DependencyInjection.dll
/bin/Debug/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/MimeKit.dll
/bin/Debug/MongoDB.Bson.dll
/bin/Debug/MongoDb.Bson.NodaTime.dll
/bin/Debug/MongoDB.Driver.Core.dll
/bin/Debug/MongoDB.Driver.dll
/bin/Debug/MongoDB.Libmongocrypt.dll
/bin/Debug/NCrontab.dll
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/NodaTime.dll
/bin/Debug/NodaTime.Serialization.JsonNet.dll
/bin/Debug/SharpCompress.dll
/bin/Debug/YamlDotNet.dll
/obj/Debug/docker-compose.dcproj.CopyComplete
/obj/Debug/docker-compose.dcproj.CoreCompileInputs.cache
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Debug/docker-compose.dcprojAssemblyReference.cache
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/DOCKER_REGISTRY.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
/obj/Docker/MergedDockerCompose.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Docker/MergedDockerCompose2.cache
/obj/Docker/TargetOS.cache
/Elsa.Samples/bin/Debug/net5.0/appsettings.Development.json
/Elsa.Samples/bin/Debug/net5.0/appsettings.json
/Elsa.Samples/bin/Debug/net5.0/AutoMapper.dll
/Elsa.Samples/bin/Debug/net5.0/BouncyCastle.Crypto.dll
/Elsa.Samples/bin/Debug/net5.0/Dapper.StrongName.dll
/Elsa.Samples/bin/Debug/net5.0/DnsClient.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Abstractions.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.Console.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.ControlFlow.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.Email.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.Http.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.Timers.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.UserTask.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Activities.Workflows.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Core.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Dashboard.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Dashboard.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Persistence.MongoDb.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Persistence.YesSql.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.deps.json
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.exe
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.runtimeconfig.dev.json
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.runtimeconfig.json
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.StaticWebAssets.xml
/Elsa.Samples/bin/Debug/net5.0/Elsa.Scripting.JavaScript.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Scripting.Liquid.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Scrutor.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.WorkflowDesigner.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.WorkflowDesigner.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Esprima.dll
/Elsa.Samples/bin/Debug/net5.0/Fluid.dll
/Elsa.Samples/bin/Debug/net5.0/Humanizer.dll
/Elsa.Samples/bin/Debug/net5.0/Irony.dll
/Elsa.Samples/bin/Debug/net5.0/Jint.dll
/Elsa.Samples/bin/Debug/net5.0/MailKit.dll
/Elsa.Samples/bin/Debug/net5.0/MediatR.dll
/Elsa.Samples/bin/Debug/net5.0/MediatR.Extensions.Microsoft.DependencyInjection.dll
/Elsa.Samples/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
/Elsa.Samples/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
/Elsa.Samples/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
/Elsa.Samples/bin/Debug/net5.0/Microsoft.Identity.Client.dll
/Elsa.Samples/bin/Debug/net5.0/MimeKit.dll
/Elsa.Samples/bin/Debug/net5.0/MongoDB.Bson.dll
/Elsa.Samples/bin/Debug/net5.0/MongoDb.Bson.NodaTime.dll
/Elsa.Samples/bin/Debug/net5.0/MongoDB.Driver.Core.dll
/Elsa.Samples/bin/Debug/net5.0/MongoDB.Driver.dll
/Elsa.Samples/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
/Elsa.Samples/bin/Debug/net5.0/MySqlConnector.dll
/Elsa.Samples/bin/Debug/net5.0/NCrontab.dll
/Elsa.Samples/bin/Debug/net5.0/Newtonsoft.Json.dll
/Elsa.Samples/bin/Debug/net5.0/NodaTime.dll
/Elsa.Samples/bin/Debug/net5.0/NodaTime.Serialization.JsonNet.dll
/Elsa.Samples/bin/Debug/net5.0/Npgsql.dll
/Elsa.Samples/bin/Debug/net5.0/ref/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
/Elsa.Samples/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
/Elsa.Samples/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/native/libzstd.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/native/snappy32.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win/native/snappy64.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
/Elsa.Samples/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
/Elsa.Samples/bin/Debug/net5.0/SharpCompress.dll
/Elsa.Samples/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
/Elsa.Samples/bin/Debug/net5.0/SQLitePCLRaw.core.dll
/Elsa.Samples/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
/Elsa.Samples/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
/Elsa.Samples/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
/Elsa.Samples/bin/Debug/net5.0/System.Runtime.Caching.dll
/Elsa.Samples/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
/Elsa.Samples/bin/Debug/net5.0/YamlDotNet.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Abstractions.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Core.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Provider.Common.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Provider.MySql.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Provider.PostgreSql.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Provider.Sqlite.dll
/Elsa.Samples/bin/Debug/net5.0/YesSql.Provider.SqlServer.dll
/Elsa.Samples/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Elsa.Samples/obj/Debug/net5.0/apphost.exe
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.AssemblyInfo.cs
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.AssemblyInfoInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.assets.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CopyComplete
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.GeneratedMSBuildEditorConfig.editorconfig
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.genruntimeconfig.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.MvcApplicationPartsAssemblyInfo.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.MvcApplicationPartsAssemblyInfo.cs
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorAssemblyInfo.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorAssemblyInfo.cs
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorComponent.input.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorComponent.output.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorCoreGenerate.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorTargetAssemblyInfo.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.RazorTargetAssemblyInfo.cs
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.TagHelpers.input.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.TagHelpers.output.cache
/Elsa.Samples/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/Razor/App.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
/Elsa.Samples/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
/Elsa.Samples/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
/Elsa.Samples/obj/Debug/net5.0/ref/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/scopedcss/bundle/Elsa.Samples.styles.css
/Elsa.Samples/obj/Debug/net5.0/scopedcss/projectbundle/Elsa.Samples.bundle.scp.css
/Elsa.Samples/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/Elsa.Samples/obj/Debug/net5.0/staticwebassets/Elsa.Samples.StaticWebAssets.Manifest.cache
/Elsa.Samples/obj/Debug/net5.0/staticwebassets/Elsa.Samples.StaticWebAssets.xml
/Elsa.Samples/obj/Docker/AbsoluteOutputAssemblyPath.cache
/Elsa.Samples/obj/Docker/BuildContextPath.cache
/Elsa.Samples/obj/Docker/CanonicalServiceNames.cache
/Elsa.Samples/obj/Docker/ContainerDebugAbsoluteOutputAssemblyPath.cache
/Elsa.Samples/obj/Docker/ProjectReferences.cache
/Elsa.Samples/obj/Docker/ProjectType.cache
/Elsa.Samples/obj/Docker/TargetFramework.cache
/Elsa.Samples/obj/Elsa.Samples.csproj.nuget.dgspec.json
/Elsa.Samples/obj/Elsa.Samples.csproj.nuget.g.props
/Elsa.Samples/obj/Elsa.Samples.csproj.nuget.g.targets
/Elsa.Samples/obj/project.assets.json
/Elsa.Samples/obj/project.nuget.cache
