/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
/.vs/Elsa.Samples/v16/.suo
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/bin/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.CoreCompileInputs.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csproj.FileListAbsolute.txt
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.csprojAssemblyReference.cache
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.pdb
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.dll
/Elsa.Samples/obj/Debug/net5.0/Elsa.Samples.Views.pdb
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.dll
/Elsa.Samples/obj/Debug/net5.0/RazorDeclaration/Elsa.Samples.pdb
